/* Textarea específico para a descrição não cortar o texto */
/* .sessao-form textarea {
  resize: none;
  font-family: inherit;
} */

.btn-excluir {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  font-size: 0.9rem;
}

.btn-excluir:hover {
  background-color: #a71d2a;
}

/* Tabela Limpa */
.tabela-pedidos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabela-pedidos th,
.tabela-pedidos td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-pedidos th {
  background-color: #f1f1f1;
}